// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */

.ant-modal {
  top: 50%;
  transform: translateY(-50%);
  transition: top 0ms;

}

.ant-modal .ant-modal-content {
  border-radius: 15px;
}

.ant-modal .ant-modal-footer {

  text-align: center;

  button {
    width: 45%;
  }
}


.modal-header {

  h2 {
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
  }

  nz-button-group {
    position: absolute;
    right: 20px;

    .cancel {
      color: #d0d0d0;
    }

    .ok {
      color: #3b82f6;
    }

    .cancel, .ok {
      font-size: larger;
    }
  }
}

// 美化滚动条
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  width: 3px;
  background: rgba(#101F1C, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, .5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color .3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, .3);
}
