<div class="item-container">
  <div class="item" nz-dropdown (contextmenu)="createRightClickPop($event, menu)" (nzVisibleChange)="update()">
    <span (click)="setDoneStatus()">
       <i *ngIf="!data.done" class="task" nz-icon nzIconfont="icon-all_noselects"></i>
        <i *ngIf="data.done" class="done" nz-icon nzIconfont="icon-Done"></i>
    </span>
    <div class="content" (click)="contentClick.emit()">
      <div>{{data.title}}</div>
      <div class="deadline">{{data.deadlineDate|date:'yyy-MM-dd HH:mm:ss'}}</div>
    </div>
    <div class="action">
      <i nz-icon
         nz-popconfirm
         nzIconfont="icon-shanchu"
         title="删除"
         (nzOnConfirm)="delete()"
         nzPopconfirmPlacement="top"
         nzPopconfirmTitle="是否确定删除当前任务?"></i>
      <i nz-icon nzIconfont="icon-edit" title="编辑" (click)="edit()"></i>
    </div>
  </div>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu style="font-size: larger">
    <li nz-menu-item (click)="setDoneStatus()">
      <i nz-icon [nzIconfont]="data.done?'icon-all_noselects':'icon-done'"></i>标记为{{data.done ? '未' : '已'}}完成
    </li>
    <li nz-submenu [nzTitle]="title">
      <ng-template #title>
        <i nz-icon nzIconfont="icon-movedown"></i>移动到
      </ng-template>
      <ul>
        <li nz-menu-item *ngFor="let top of todoService.topicList" (click)="setTopic(top)">
          <i nz-icon nzIconfont="icon-liebiao"></i>{{top.title}}
        </li>
      </ul>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="setDeadLine(WEAK.nextMon)"><i nz-icon nzIconfont="icon-Deadline"></i>下周一截至</li>
    <li nz-menu-item (click)="setDeadLine(WEAK.nextSat)"><i nz-icon nzIconfont="icon-Deadline"></i>本周六截至</li>
    <li nz-menu-item (click)="setDeadLine(WEAK.tomorrow)"><i nz-icon nzIconfont="icon-Deadline"></i>明天截至</li>
    <li nz-menu-item (click)="setDeadLine(WEAK.choose)"><i nz-icon nzIconfont="icon-Deadline"></i>选择截至日期</li>
    <li nz-menu-item (click)="setDeadLine(WEAK.clear)"><i nz-icon nzIconfont="icon-calendar"></i>删除截至日期</li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="deleteTask()" nzDanger>
      <i nz-icon nzType="delete" nzTheme="outline"></i>删除此任务
    </li>
  </ul>
</nz-dropdown-menu>

<nz-modal
  [(nzVisible)]="deleteModelData.visible"
  [nzTitle]="null"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="deleteModelData.onCancel()"
  (nzOnOk)="deleteModelData.onOk()"
  [nzWidth]="400"
>
  <ng-template #modalContent>
    <h1>删除任务</h1>
    <p><i nz-icon nzType="warning" nzTheme="outline" style="color: #fff000"> </i>
      将永远删除"{{data.title}}"
    </p>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="danger" (click)="deleteModelData.onOk()">删除</button>
    <button nz-button nzType="default" (click)="deleteModelData.onCancel()">取消</button>
  </ng-template>
</nz-modal>


<nz-modal
  [(nzVisible)]="choseDateData.visible"
  [nzClosable]="false"
  (nzOnCancel)="choseDateData.onCancel()"
  [nzFooter]="null">
  <div class="modal-header">
    <h2>选择截止日期</h2>
    <nz-button-group>
      <button nz-button
              nzType="link"
              class="cancel"
              (click)="choseDateData.onCancel()">取消
      </button>
      <button nz-button
              nzType="text"
              class="ok"
              (click)="choseDateData.onOk()"
              [disabled]="!choseDateData.data">确定
      </button>
    </nz-button-group>
  </div>
  <div style="display: flex;justify-content: center">
    <nz-date-picker nzShowTime
                    *ngIf="choseDateData.visible"
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    [(ngModel)]="choseDateData.data"
                    nzPlaceHolder="Start"
                    nzInline
                    (nzOnOk)="choseDateData.onOk()">
    </nz-date-picker>
  </div>


</nz-modal>
