<div class="drawer-main">
  <div class="drawer-header">
    <i *ngIf="!drawer?.data?.done" class="task" nz-icon nzIconfont="icon-all_noselects"></i>
    <i *ngIf="drawer?.data?.done" class="done" nz-icon nzIconfont="icon-Done"></i>
    <span class="drawer-header-title" [style.text-decoration]="drawer?.data?.done?'line-through':'unset'">
          {{drawer?.data?.title}}
        </span>
  </div>
  <div class="drawer-content">
    <div class="drawer-content-card">
          <span *ngIf="drawer?.data?.topic">
            <i nz-icon nzIconfont="icon-send-l"></i>
            {{drawer?.data?.topic?.title}}
          </span>
      <span *ngIf="!drawer?.data?.topic">
          <i nz-icon nzIconfont="icon-Plus1"></i>
            添加主题
          </span>
    </div>

    <div class="drawer-content-card">
          <span *ngIf="drawer?.data?.deadlineDate">
            <i nz-icon nzIconfont="icon-rili"></i>
            {{drawer?.data?.deadlineDate | date:'yyy/MM/dd HH:mm, EEEE'}}
          </span>
      <span *ngIf="!drawer?.data?.deadlineDate">
          <i nz-icon nzIconfont="icon-Plus1"></i>
            添加截止日期
          </span>
    </div>

    <div class="drawer-content-card">
      <!--          <span *ngIf="drawer?.data?.deadlineDate">-->
      <!--            <i nz-icon nzIconfont="icon-rili"></i>-->
      <!--            {{drawer?.data?.deadlineDate | date:'yyy/MM/dd HH:mm, EEEE'}}-->
      <!--          </span>-->
      <!--          <span *ngIf="!drawer?.data?.deadlineDate">-->
      <i nz-icon nzIconfont="icon-Plus1"></i>
      添加为打卡事件
      <!--          </span>-->
    </div>

    <div class="drawer-content-card">
          <span *ngIf="drawer?.data?.description">
            <i nz-icon nzIconfont="icon-plan"></i>
            {{drawer?.data?.description}}
          </span>
      <span *ngIf="!drawer?.data?.description">
          <i nz-icon nzIconfont="icon-Plus1"></i>
            添加截止备注
          </span>
    </div>
  </div>
  <div class="drawer-footer">
    <i nz-icon nzType="right" nzTheme="outline" class="drawer-footer-back" (click)="drawer.visible = false"></i>
    <div *ngIf="drawer?.data" class="drawer-footer-content">
          <span *ngIf="!drawer?.data.done">
            创建于 {{drawer?.data.createDate|date:'yyy/MM/dd HH:mm, EEEE'}}
          </span>
      <span *ngIf="drawer?.data.done"
            title="创建于 {{drawer?.data.createDate|date:'yyy/MM/dd HH:mm, EEEE'}}">
            完成于 {{drawer?.data.completeDate|date:'yyy/MM/dd HH:mm, EEEE'}}
          </span>
    </div>

    <i nz-icon
       nz-popconfirm
       class="drawer-footer-del"
       nzIconfont="icon-shanchu"
       title="删除"
       (nzOnConfirm)="deleteItem(drawer.data)"
       nzPopconfirmPlacement="top"
       nzPopconfirmTitle="是否确定删除当前任务?"></i>
  </div>
</div>

