@logo-height: 30px;

@padding-left: 40px;


* {
  user-select: none;
}

.sider-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.topic {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.new-topic {
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-basis: 60px;
  flex-shrink: 0;
  border-top: 1px solid rgba(200, 200, 200, .5);
  padding: 0 25px;
}

.layout {
  width: 100vw;
  height: 100vh;
}

.logo {
  text-align: center;
  height: @logo-height;
  vertical-align: middle;
  flex-basis: @logo-height;
  line-height: @logo-height;
  flex-shrink: 0;
}

.userinfo {
  //background: wheat;
  min-height: 60px;
  flex-basis: 60px;
  flex-shrink: 0;
}


nz-sider {
  overflow: hidden;
  height: 100%;
  position: fixed;
  left: 0;
}


.right-layout {
  margin-left: 350px;

  nz-header {
    height: 10vh;
    padding-left: @padding-left;
    padding-right: @padding-left;
    display: flex;
    align-items: center;
  }

  nz-content {
    overflow-x: hidden;
    height: 100vh;
    overflow-y: hidden;
    padding-left: @padding-left;
    padding-right: @padding-left;
    padding-bottom: 30px;
  }

  nz-footer {
    height: 80px;
    padding-left: @padding-left;
    padding-right: @padding-left;
    display: flex;
    width: 100%;
    align-items: center;
  }
}

nz-content, nz-header, nz-footer {
  background: #f1f2f6;
}


.card {
  height: 100%;
  background: #fff;
  clip-path: inset(0 round 20px);
}

.todo {
  height: calc(100% - 50px);
  overflow-y: auto;
}


.add-task {
  color: white;
  min-height: 50px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(111-50, 131-50, 211-50, 0.5);

  .add-task-icon {
    width: 60px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: xx-large;
    margin: 0 auto;
  }

  input {
    color: #fff;
    flex-wrap: wrap;
  }

  .add-task-container {
    display: flex;
    align-items: center;
  }

  .btn-group {
    padding: 0 20px;
    display: inline-block;

    i {
      margin: 0;
    }
  }
}



