<nz-layout class="layout">
  <nz-sider nzTheme="light" [nzWidth]="350">
    <div class="sider-container">
      <div class="logo">House To Do</div>
      <div class="userinfo">
        <app-user-info></app-user-info>
      </div>
      <div class="topic">
        <app-topic-list (onUpdateTopic)="updateTopic($event)"
                        (onDeleteTopic)="deleteTopic($event)">

        </app-topic-list>
      </div>
      <app-new-topic class="new-topic" (onCreateTopic)="createTopic($event)"></app-new-topic>
    </div>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header nz-row><span>{{todoService.topic?.title}}</span></nz-header>
    <nz-content nz-row>

      <div nz-col nzFlex="auto" style="height: 100%">
        <div class="card">
          <div class="todo">
            <ng-container *ngFor="let item of todoService.topic?.items">
              <app-todo-item [data]="item"
                             (onDelete)="deleteItem($event)"
                             (onEdit)="showItemDetail($event,true)"
                             (contentClick)="showItemDetail(item)"
                             (onUpdate)="updateTodoItem($event)"
              ></app-todo-item>
            </ng-container>
          </div>
          <div class="add-task">
            <i nz-icon nzType="plus" nzTheme="outline" class="add-task-icon"
               (click)="addTaskData.visible = true"></i>
          </div>
        </div>

      </div>
      <div nz-col nzFlex="350px" nzOffset="1" style="height: 100%">
        <div nz-row class="card" style="height: 60%;">
          <app-statistics (onDateChanged)="dateChanged($event)"></app-statistics>
        </div>
        <div nz-row class="card" style="height:calc(40% - 30px);margin-top: 30px">
          <app-clock-in></app-clock-in>
        </div>
      </div>

    </nz-content>
  </nz-layout>
</nz-layout>

<nz-modal
  [(nzVisible)]="addTaskData.visible"
  [nzClosable]="false"
  (nzOnCancel)="addTaskData.onCancel()"
  [nzFooter]="null">
  <app-new-todo (onCancel)="addTaskData.onCancel()" (onOk)="addTaskData.onOk($event)"></app-new-todo>
</nz-modal>
<nz-drawer [nzClosable]="false"
           [nzVisible]="drawer.visible"
           nzPlacement="right"
           [nzTitle]="null"
           [nzWidth]="600"
           (nzOnClose)="drawer.close()"
           [nzBodyStyle]="{background:'#f6f6f6',padding:'0'}"
>
  <ng-container *nzDrawerContent>
    <app-item-detail [(drawer)]="drawer">
    </app-item-detail>
  </ng-container>
</nz-drawer>
