<nz-layout class="layout">
  <nz-sider nzTheme="light" [nzWidth]="350">
    <div class="sider-container">

      <div class="logo">House To Do</div>


      <div class="userinfo">
        userinfo...
      </div>


      <ul nz-menu nzTheme="light" nzMode="inline" class="topic">
        <ng-container *ngFor="let menuItem of menuInfo">
          <li nz-menu-item *ngIf="menuItem.show" class="menu-item" (click)="setTopic(null,menuItem.menuInfo.id)">
            <i nz-icon [nzIconfont]="menuItem.icon"></i>
            <nz-badge [nzCount]="calUnDoneCount(null, menuItem.menuInfo.id)" style="width: 270px"
                      [nzStyle]="{backgroundColor:'#ececec',color:'black'}">
              <div>{{menuItem.menuInfo.name}}</div>
            </nz-badge>
          </li>
        </ng-container>
        <nz-divider></nz-divider>
        <li nz-menu-item *ngFor="let topicVO of topicList" class="menu-item" (click)="setTopic(topicVO)">
          <i nz-icon [nzIconfont]="topicVO.icon||'icon-menu'"></i>
          <nz-badge [nzCount]="calUnDoneCount(topicVO, null)" style="width: 270px"
                    [nzStyle]="{backgroundColor:'#ececec',color:'black'}">
            <div>{{topicVO.title}}</div>
          </nz-badge>
        </li>
      </ul>
      <div class="new-topic">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span style="margin-left: 10px;min-width: 80px"
              (click)="showAddTopic(AddTopic)"
              [style.display]="addTopicTipVisible?'inline':'none'"
              *ngIf="addTopicTipVisible">新建列表
        </span>
        <input #AddTopic
               nz-input
               nzBorderless
               type="text"
               (keydown.escape)="addTopicTipVisible= true"
               (keydown.enter)="submitTopicInfo($event)"
               (focusout)="addTopicTipVisible=true"
               [style.display]="addTopicTipVisible?'none':'inline'">
      </div>
    </div>

  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header nz-row><span>{{topic?.title}}</span></nz-header>
    <nz-content nz-row>

      <div nz-col nzFlex="auto" style="height: 100%">
        <div class="card">
          <div class="todo">
            <ng-container *ngFor="let item of topic?.items">
              <app-todo-item [data]="item" (onStatusChanged)="itemStatusChange($event)"></app-todo-item>
            </ng-container>
          </div>
        </div>

      </div>
      <div nz-col nzFlex="300px" nzOffset="1" style="height: 100%">
        <div nz-row class="card" style="height: 50%;">
        </div>
        <div nz-row class="card" style="height:calc(50% - 30px);margin-top: 30px">
        </div>
      </div>


    </nz-content>
    <!--    <nz-footer>-->
    <!--      <div class="add-task">-->
    <!--        <ng-container *ngIf="!inputStatus">-->
    <!--          <i nz-icon nzType="plus" nzTheme="outline" (click)="check2Input(true)"></i>-->
    <!--          <span (click)="check2Input(true)">添加任务</span>-->
    <!--        </ng-container>-->
    <!--        <ng-container *ngIf="inputStatus"-->
    <!--                      class="add-task-container">-->
    <!--          <i nz-icon nzType="plus-circle" nzTheme="outline"></i>-->
    <!--          <input autofocus-->
    <!--                 #inputElement-->
    <!--                 nzBorderless-->
    <!--                 nz-input-->
    <!--                 [(ngModel)]="addTaskData.title"-->
    <!--                 (focusin)="check2Input(true,inputElement)"-->
    <!--                 (focusout)="check2Input(false)"-->
    <!--                 (keydown.enter)="submitInfo()"-->
    <!--                 placeholder="添加任务"/>-->
    <!--          <div class="btn-group"-->
    <!--               (focusin)="check2Input(true)"-->
    <!--               (focusout)="check2Input(false)">-->
    <!--            <button nz-button-->
    <!--                    nz-popover-->
    <!--                    nzGhost-->
    <!--                    [nzPopoverTitle]="DateTimePickerTemplateHeader"-->
    <!--                    [(nzPopoverVisible)]="dataTimePickerVisible"-->
    <!--                    [nzPopoverContent]="DateTimePickerTemplate"-->
    <!--                    nzType="dashed"-->
    <!--                    title="添加截至日期">-->
    <!--              <i nz-icon nzType="calendar" nzTheme="outline"></i>-->
    <!--            </button>-->
    <!--          </div>-->

    <!--          <ng-template #DateTimePickerTemplate>-->
    <!--            <nz-date-picker nzInline [(ngModel)]="addTaskData.deadlineDate"></nz-date-picker>-->
    <!--          </ng-template>-->
    <!--          <ng-template #DateTimePickerTemplateHeader>-->
    <!--            <div nz-row>-->
    <!--              <button nz-col-->
    <!--                      nz-button-->
    <!--                      nzSpan="6"-->
    <!--                      nzType="default"-->
    <!--                      (click)="dataTimePickerVisible = false">-->
    <!--                取消-->
    <!--              </button>-->
    <!--              <button nz-col-->
    <!--                      nz-button-->
    <!--                      nzSpan="6"-->
    <!--                      nzOffset="12"-->
    <!--                      nzType="primary"-->
    <!--                      (click)="dataTimePickerVisible = false">-->
    <!--                确定-->
    <!--              </button>-->
    <!--            </div>-->

    <!--          </ng-template>-->
    <!--        </ng-container>-->
    <!--      </div>-->
    <!--    </nz-footer>-->
  </nz-layout>
</nz-layout>
