.add-task {
  .input {
    height: 40px;
    border-bottom: 2px solid #eaeaea;
    letter-spacing: 2px;
  }

  .desc {
    margin-top: 20px;
  }

  .action {
    margin-top: 20px;

    button {
      border: 2px solid #ffffff;
    }

    button:hover {
      border: 2px solid #bfdbfe;
      background: #dbeafe;
    }

    i {
      font-size: larger;
    }
  }
}
