@import '~antd/dist/antd.css';

@left-padding: 24px;

* {
  user-select: none;
}

.layout {
  height: 100vh;

  .sider {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  .logo {
    height: 40px;
    margin-left: @left-padding;
    line-height: 38px;
  }

}

.right-layout {
  padding: 0 20px;
  background: rgb(111, 131, 211);

  .header {
    height: 100px;
    background: rgb(111, 131, 211);

    .title {
      color: white;
      font-size: large;
      padding: 3px 1px;
      border-radius: 3px;
      user-select: none;
    }

    .title:hover {
      background: rgba(111-80, 131-80, 211-80, 0.5);
    }

  }


}
